<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Web UI</title>
    <!-- 引入bootstrap样式表 -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- 引入jquery脚本 -->
    <script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
    <!-- 引入bootstrap脚本 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
</head>

<body>
    <div class="container">
        <ul class="nav nav-tabs">
            <li><a href="/">TestBack</a></li>
            <li><a href="Conclude">Conclude</a></li>
            <li class="active"><a href="Visualization">Visualization</a></li>
        </ul>

</body>

</html>